@charset "UTF-8";

*{margin: 0; padding: 0;}
/* reset */
li{list-style: none; /* 블릿기호삭제 */}
a{text-decoration: none; /* 밑줄빼기 */
    color: #333;
}
.clearfix::after{content: ""; clear: both; display: block;}

/* wrap */
#wrap{width: 1000px; margin: 0 auto;}

#header{}
#header h1{
    float: left;
    width: 110px;
    padding: 15px 0 0;
}
#header h1 a{}
#header h1 a img{
    /* 인라인요소는 공간을 인식하지 못함
    width: 200px; 값을 줘도 적용되지 않음
    그런데 인라인요소이면서 공간을 인식하는 요소가 있다
    --> img,button */
    width: 100%;
}

#header .nav{
    float: right;
    background-color: #ddd;
    }
#header .nav ul{}
#header .nav ul li{
    position: relative;
    float: left;
    width: 140px;
    text-align: center; /* 나의 자식 중에서 인라인요소가 있거든 가운데로 정렬해라 */

}
#header .nav ul li a{
    display: block;
    padding: 24px 20px 20px; 
    transition: 0.3s;
}
#header .nav ul li a:hover{
    background-color: #ccc;
}

#header .nav ul li .submenu{
    display: none;
    position: absolute;
    left: 0; top: 65px;
}
#header .nav ul li .submenu li{}
#header .nav ul li .submenu li a{
    background-color: #888;
    padding: 10px;
    color: #fff;
}

#header .nav ul li .submenu li a:hover{
    background-color: #666;
}

/* banner */
#banner{
    overflow: hidden;
}
#banner .slideList{
    width: 3000px;
    position: relative;
}
#banner .slideList .slideImg{
    position: relative;
    float: left;
    width: 1000px;
}
#banner .slideList .slideImg h2{
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 30px;
    border-radius: 20px;
    color: #fff;
}
#banner .slideList .slideImg img{
    width: 100%;
    /* img태그 아래쪽에 빈틈이 처리
    원인:img태그가 인라인 요소이기 때문 */
    display: block;
}

/* content */
#content1{margin-top: 20px;}
#content1 .left{float: left;
width: 49%;
background-color: #f2f2f2;
background-image: url(../img/bg1.jpg);
background-repeat: no-repeat;
background-size: 80px;
/* background-position: x값 y값; */
background-position: right 20px center;

/* background: color image repeat position/size; */
background: #f2f2f2 url(../img/bg1.jpg) no-repeat right 20px center/80px;
padding: 20px;
box-sizing: border-box;
}
#content1 .title{
    font-size: 22px;
    padding-bottom: 5px;
}
#content1 .desc{
    font-size: 14px;
    color: #666;
    padding-bottom: 15px;
}
#content1 .left .btn{}

#content1 .right{float: right;
width: 49%;
/* background: color image repeat position/size; */
background: #f2f2f2 url(../img/bg2.jpg) no-repeat right 20px center/80px;
padding: 20px;
box-sizing: border-box;
}
#content1 .right .title{}
#content1 .right .desc{}
#content1 .right .btn{}
#content1 .right .btn em{}